
#containerAll{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    

}
header,footer,aside{
    border: black 1px solid;
}


@media  (min-width:768px ) and (max-width : 960px){
    #containerAll{
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        

    }
    header,footer,aside{
        border: black 1px solid;
    }
    
   
}


@media  (min-width:480px ) and (max-width : 767px){

    #containerAll{
        width: 480px;
        margin: 0 auto;
        overflow: hidden;
    }
    

}